<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="">
    </head>

    <body>
        <h1>Chatrooms</h1>
        <ul id="chatroom"></ul>

        <script>
            function listChatroomsOnPage(data) {
                const ul = document.getElementById('chatroom')

                for (let key in data) {
                    const li = document.createElement('li');
                    const a = document.createElement('a');

                    var content = '';
                    content += data[key]['name'];

                    const chatroomMessages = `http://127.0.0.1:8000/frontend/chatrooms/${data[key]['id']}/messages/`

                    a.appendChild(document.createTextNode(content));
                    a.setAttribute('href', chatroomMessages)
                    li.appendChild(a)
                    ul.appendChild(li);
                }
            }

            function loadChatrooms() {
                fetch('http://127.0.0.1:8000/api/chatrooms')
                .then(response => response.json())
                .then(data => listChatroomsOnPage(data))
            }

            loadChatrooms();
        </script>
    </body>
</html>